@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body{
    font-family: 'Lato', sans-serif;
}



.div_name{
    border-bottom: 1px solid gray;
    margin-left: -46px;
    margin-top: -46px;
    height: 34px;
    margin-right: -46px;
    padding-left: 19px;
}

.form_exam{

    background-color: ghostwhite;
    padding: 50px;
    padding-left: auto;
    width: 95%;
    margin: 36px;

}

.button{

    /*
        width: 100%;
        display: block !important;
    */
    margin-left: 73px;
}
