/*navbar*/
 .navbar  {
   background: #fff;
    border: 0px;
    border-radius: 0px;
    margin: 0px;
     border-bottom: 5px solid #37B2B5;
     
}
a{
    color: #37B2B5;
}
a:hover {
    color: #44b7b9;
}

.navbar-default {
    background: #fff;
}

.navbar-expand-lg,
.navbar-brand{
    padding: 0px;
}
.navbar-brand {
    margin-left: 30px
}

.navbar-default .navbar-brand {
    color: #44b7b9;
}
.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-default .navbar-nav>li>a {
    color: #44b7b9;
    color: #44b7b9;
}

.main-nav ul {
    margin: 0;
    padding: 0;
}
.main-nav a {
    padding: 0px;
}

.navbar-expand-lg {
    padding: 0;
}

/*end navbar*/


/*slider*/
.slider img{
    height: 500px;
    border-radius: 2px;
    
    
}
/*end slider*/
/*best student*/
.best_student{
    height: auto;
     display: inherit;
    position: relative;
    overflow: hidden;
    padding-right: 29px;
     
}
.best_student img{
     width: 90px;
   padding: 1px;
    border-radius:50%;
    height: 90px;
}
.best_student h3{
    margin: 5px;
    padding: 5px;
}




/*end best student*/



.container{
    margin-top:10px;
    
}
.card{
    position: relative;
    overflow: hidden;
    
}
.card:before{
    position: absolute;
    content:'' ;
    width: 80%;
    height: 380%;
    background: rgba(235,53,131,0.7);
    top:-50%;
    left:-100%;
    z-index:1;
    transform: rotate(25deg);
    transform-origin: center top 0;
    transition: -5s;
      
}
.card:hover:before{
    left:10%;
} 
.card img{
    width: 100%;
    height: 400px;
    margin-bottom: 25px;
    
}
.card-text{
    width: 100%;
    padding:  0.20px;
    position: absolute;
    top:-100%;
    color: #fff;
    left: 0;
    z-index: 2;
    transform:1.1s;
}
.card-text h3{
    font-family: poppins;
}
.card:hover .card-text{
    top:80px;
    padding: 10px;
}
/*home style*/
.middle{
/*
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
*/
}
.card1{
  cursor: pointer;
  width: 340px;
  height: 480px;
   ;
}
.front,.back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
    
}
.front img{
  height: 100%;
    width: 100%;
    padding: 7px;
  
}
.front{
  transform: perspective(600px) rotateY(0deg);
}
.back{
  background: #f1f1f1;
  transform: perspective(600px) rotateY(180deg);
}
.back-content{
  color: #44b7b9;
  text-align: center;
  width: 100%;
    padding-top: 100px;
}
.sm{
  margin: 20px 0;
}
.sm a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #44b7b9;;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 50%
}
.sm a:hover{
  background:  #44b7b9;
  color: white;
}
.card:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}
.card1:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}

/* Footer */
.footer {
    background: #fff;
    padding: 40px 0px;
}
.footer p {
    color: #666;
    font-size: 16px;
}
.footer a {
    color: #44b7b9;
    margin-right: 10px;
}
.footer a:hover {
    color: #44b7b9;
}
.footer a i {
    font-size: 20px;

}
.carousel{
    z-index: 0;

}
/* validation plugin*/
.error{
    color: red;
}